{% extends "base.html" %}
{% block title %}Home{% endblock %}}

{% block content %}

    <script>
        function deleteNote(noteId) {
            fetch("/delete-note" , {
                method : "POST",
                body: JSON.stringify({noteId: noteId}),
            }) .then((_res) => {
                window.location.href = "/home";
            });
        } 
    </script>

    <br>
    <h2 align="center" style="color:white;">Phone Numbers</h2>
    <br>
    <ul class="list-group list-group--flush" id="numbers">
        {% for n in user.numbers %}
            <li class="list-group-item">
                {{n.name}}
                {{n.number}}
                <button type="button" class="close" onClick="deleteNote({{n.id}})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        {% endfor %}
        <br>
        <br>
    </ul> 
    
    <div align="center"><button type="submit" class="btn " onclick="openForm()" style="width:50%;
    background-color:#01b0d3;">
    Add Contact</button></div>

    <div class="form-popup" id="myForm" style="display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;">
        <form method="POST" style="max-width: 300px; padding: 10px;">
            <div align="center">

                <h2 style="color:white; margin-bottom: 45px; margin-top: 10px">Add Number</h2>
                
                <p style="color:white; text-align: start; margin-left: 15px; font-weight: 500;">Contact Name:</p>
                <textarea name="name" id="name" cols="10" rows="10" class="form-control" style="
                width:250px; height:40px; resize: none; margin-left: 15px; margin-right: 15px; margin-top: 15px"
                placeholder="Contact Name"></textarea>

                <br>

                <p style="color:white; text-align: start; margin-left: 15px; font-weight: 500;">Phone Number:</p>
                <textarea name="number" id="number" cols="10" rows="10" class="form-control"style="
                width:250px; height:40px; resize: none; margin-left: 15px; margin-right: 15px; margin-bottom: 15px" 
            placeholder="Phone Number"></textarea>
            </div>
            <br>
            <div align="center">
                <button type="submit" class="btn" style="background-color:#01b0d3">Add Number</button>
            </div>
        </form>
    </div>

    <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        
    </script>

{% endblock %}
