{% extends "base.html" %}
{% block title %}Home{% endblock %}}

{% block content %}

    <script>
        function deleteNote(noteId) {
            fetch("/delete-note" , {
                method : "POST",
                body: JSON.stringify({noteId: noteId}),
            }) .then((_res) => {
                window.location.href = "/home";
            });
        } 
    </script>

    <br>
    <h2 align="center" style="color:white;">Phone Numbers</h2>
    <br>
    <ul class="list-group list-group--flush" id="numbers">
        {% for n in user.numbers %}
            <li class="list-group-item">
                {{n.name}}
                {{n.number}}
                <button type="button" class="close" onClick="deleteNote({{n.id}})">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        {% endfor %}
        <br>
        <br>
    </ul> 
    
    <form method="POST">
        <div align="center">
            <textarea name="name" id="name" cols="10" rows="10" class="form-control" style="
            width:250px; height:40px; resize: none; display: inline-block; margin-right:5%;"
            placeholder="Contact Name"></textarea>

            <textarea name="number" id="number" cols="10" rows="10" class="form-control"style="
            width:250px; height:40px; resize: none; display: inline-block; margin-left:5%;" 
        placeholder="Phone Number"></textarea>
        </div>
        <br>
        <div align="center">
            <button type="submit" class="btn btn-primary">Add Number</button>
        </div>
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
          $('a#test').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
    </script>

{% endblock %}
